@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body{
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 65px;
    left: 78px;
    transition: var(--transition);
    overflow: scroll;
}
.sidebar.expand ~ .content {
    width: calc(100% - 250px);
    left: 250px;
    transition: var(--transition);
}
.topic{
    float: left;
    margin-top: 4%;
    margin-left: 9%;
    position: absolute;
}

.record{
    margin-left: 10%;
    border: 2px solid;
    width: 80%;
}
.req_read{
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
}
.topics, .details{
    font-family: "Poppins", sans-serif;
    margin: auto;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
    color: black;
}

.details tr{
    text-align: left;
    padding-left: 10%;
}
.details tr:hover{
    cursor: pointer;
}
.details button:hover{
    cursor: pointer;
}
.details td{
    padding-top: 6px;
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
    border: 2px solid white;
}
.topics th{
    width: 25%;
    float: left;
    text-align: center;
}
.details tr:nth-child(even) {
    background-color: #c0dbeb;
}
.btn {
    border-radius: 50px;
    border:none;
    width:120px;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
}
.btn:hover{
    transform: translateY(-1px);
    transition: all 0.4s ease;
}
#pending{
    background-color: #2196F3;
}
#accepted{
    background-color: rgb(2, 134, 28);
}
#rejected{
    background-color: #DD1D28;
}

.more_btn{
    border-radius: 10px;
    border:none;
    width:100px;
    background-color: #fa9e13;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}
.more_btn span::after{
    content: '\00bb';
    margin-right: -10px;
    opacity: 0;
}
.more_btn:hover span{
    padding-right: 10px;
    transition: 0.3s;
}
.more_btn:hover span::after{
    transition: 0.3s;
    opacity: 1;
}