@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: #002B5B;
  --transition: all 0.2s ease;
}

.home {
  position: fixed;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  height: 100vh;
  margin-top: 65px;
  background: #e2e2e2;
  z-index: 6;
  transition: var(--transition);
}

.home .body{

  margin: 15px;
}

.table1{
    background-color: #e2e2e2;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px;
    overflow-y: scroll;
    padding: 5px;
    text-align: justify;
    margin: 5px;
  }
  
  .table1 th{
    text-align: justify;
    padding: 5px;
  }
  
  .table1 tr{
    height: 20px;
    overflow-y: scroll;
  }

  .main-title {
    /* display: flex; */
    justify-content: space-between;
    font-size: 20px;
  }
  
  .main-title > p {
    margin-bottom: 0%;
    font-size: 20px;
    margin-left: 0%;
  }

  .main-title > span {
    font-size: 50px;
  }

  .mini-title {
    /* display: flex; */
    justify-content: space-between;
    font-size: 15px;
    margin-left:10px;
    font-weight: 500;
  }

  .text-red {
    color: #340da1;
    margin-left:1%;
    font-size: 30px;
    
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  