@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body{
    margin: 0%;
}
.content{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 78px;
    transition: var(--transition);
    overflow-y: scroll;
}
.sidebar.expand ~ .content {
    width: calc(100% - 250px);
    left: 250px;
    transition: var(--transition);
}
.profile_img{
    margin-left: 15%;
    margin-top: 25%;
    float: left;
    background-color: rgb(130, 211, 191);
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 #bbb;
    /* border: 5px solid black; */
}
.profile_img img{
    width: auto;
    height: 100%;
    margin-left: 5px;
    object-fit: fill;
}

.editbtn{
    width: 150px;
    background-color: #076794;
    color: white;
    /* padding: 14px 20px; */
    /* margin: 470px 1px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Monaco" , "Lucida Console", "Courier New", monospace;
    display:flex;
    float: left;
    margin-left: 20%;
    margin-top: 15%;

}

.editbtn a{
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    }



.passwrd{
    width: 70%;
    background-color: #076794;
    color: white;
    padding: 14px 20px;
    margin: 540px 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Monaco" , "Lucida Console", "Courier New", monospace;
    float: left;
}

.passwrd a{
    color: white;
    text-align: center;
    padding: 40px 40px;
    text-decoration: none;
    font-size: 14px;
    }

.topic{
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    position: absolute;
}
.profile_info{
    background-color: #dddddd;
    margin-top: 5%;
    margin-right: 15%;
    float: right;
    width: 50%;
    height: 75%;
    border-radius: 0 50px 50px 50px;
    box-shadow: 0 2px 2px 0 #bbb;
}
hr{
    margin-left: 10px;
    width: 95%;
}
.profile_info label{
    margin-left: 20px;
}

.profile_info table{
    width: 100%;
}
.profile_info table .second{
    width: 20%;
    height: 65px;
}
.profile_info table .first{
    width: 6%;
    height: 65px;
}

.leftside{
    float: left; 
    width:30%; 
    height:50%;
}