@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: #002B5B;
  --transition: all 0.2s ease;
}


.home p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}

.home {
  position: fixed;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  height: 100vh;
  margin-top: 65px;
  background: #e2e2e2;
  z-index: 6;
  transition: var(--transition);
  overflow-y: scroll;
}

.home .body{

  margin: 15px;
  overflow-y: scroll;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}

.font-weight-bold {
    font-weight: 600;
  }

  .left-side{
    float: left;
    width: 50%;

  }

  .img-container{
    margin-top: 15%;
    float: left;
    background-color: aqua;
    width: 50%;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 #bbb;
    /* border: 5px solid black; */
}

  .right-side{
    float: right;
    width: 50%;
    height: 800px;
  }

  .medicine-details{
    background-color: #dddddd;
    margin-top: 5%;
    margin-right: 15%;
    float: right;
    width: 80%;
    height: auto;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 #bbb;
    padding-bottom: 10px;
}

hr{
    margin-left: 10px;
    width: 95%;
}
.medicine-details label{
    margin-left: 25px;
    margin-right: 10px;
    width: 30px;

}

.medicine-details table{
    width: 100%;
}

.medicine-details table td{
  width: auto;
  margin-left: 20px;
}

.medicine-details table .second{
    width: 100%;
    height: 75px;
}

.main-name{
    font-size: 15px;
    height: 65px;
    width: 100%;
    text-align: left;

}

/*form button--------------------------------------*/

.form-button {
  border-radius: 5px;
  border:none;
  height: 50px;
  width:190px;
  background-color: #03375f;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 4px;
  cursor: pointer;
  margin-left: 40%;
  
}

.form-button a{
color: white;
text-align: center;
padding: 40px 40px;
text-decoration: none;
font-size: 14px;
}
