/* Navbar-----------------------------------------------------*/

* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #03375f;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
  font-size: 20px;
  width: 150px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the input container */
  .topnav .search-container {
    float: right;
  }
  
  /* Style the input field inside the navbar */
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    height: 30px;
  }
  
  /* Style the button inside the input container */
  .topnav .search-container button {
    float: right;
    padding: 8px;
    height: 30px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container img {
    float: right;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
}

/*table--------------------------------------------------------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow: scroll;
  }
  
  th, td {
    text-align: justify;
    padding: 16px;
  }

  tr{
    height: 50px;
    overflow-y: scroll;
  }

  tr:nth-child(even) {
    background-color: #c0dbeb;
  }

  .button {
    border-radius: 50px;
    border:none;
    width:90px;
    background-color: #2196F3;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }

  .button:hover {
    background: rgb(201, 232, 241);
    color: rgb(0, 0, 0);
  }

  /*order button--------------------------------------*/

  .order-button {
    border-radius: 5px;
    float: left;
    border:none;
    height: 50px;
    width:100px;
    background-color: #03375f;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
  }


  .logo1{
    float:left;
    padding: 5px;
     }

     /* side bar starts */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  margin-top: 5.05%;
  background: #002B5B;
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-header .logo {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 20px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.nav-links i {
  color: #000;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

.nav-links input {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline: none;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: #e2e2e2;
  padding: 0;
}

.sidebar.expand .nav-links input {
  width: 100%;
  padding: 0 20px 0 40px;
}

.nav-links li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #fff;
}

.nav-links li:hover a {
  background: var(--color-hover);
}

.nav-links li:hover i {
  color: #fff;
}

.nav-links li a .title {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: #fff;
}

.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}

.nav-links .search-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-25px);
  font-size: 23px;
  color: #000;
  border-radius: 12px;
  background: #fff;
  transition: var(--transition);
}

.sidebar.expand .nav-links .search-btn {
  background: transparent;
  transition: var(--transition);
}

.sidebar.expand .nav-links li:hover .search-btn {
  color: #000;
}

.nav-links .search-btn:hover {
  background: var(--color-hover);
}

.theme-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 250px;
  left: 0;
  padding: 8px 16px;
}

.theme-wrapper .theme-icon {
  font-size: 20px;
  color: #000;
  display: none;
  transition: var(--transition);
}
.sidebar.expand .theme-icon {
  display: block;
}


.sidebar.expand  {
  display: block;
}

.theme-wrapper {
  width: 40px;
  height: 20px;
  background: #e2e2e2;
  border-radius: 30px;
  position: relative;
}

.theme-wrapper {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  top: 2px;
  left: 3px;
}



.sidebar.expand ~ .home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}

.home p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin: 20px;
  white-space: nowrap;
}
/* side bar ends */
.home {
  position: fixed;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  height: 100vh;
  margin-top: 5%;
  background: #e2e2e2;
  z-index: 6;
  transition: var(--transition);
}

.div1{
  margin-top: 45px;
  margin-left: 70px;
  width: 95%;
  height: 100%;
}

.mytbl{
  border: 2px solid;
  border-collapse: collapse;
}