@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: #002B5B;
  --transition: all 0.2s ease;
}

.home {
  position: fixed;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  height: 100vh;
  margin-top: 4%;
  padding: 30px;
  padding-left: 40px;
  background: #ffffff;
  z-index: 6;
  transition: var(--transition);
}
.div1{
  margin-top: 0%;
  margin-left: 70px;
  width: 95%;
  height: 100%;
}

.mytbl{
  background-color: #ffffff;
  border: 2px;
  width: 90%;
  font-size: 12px;
  font-weight: 500;
  font-size: 15px;

}

.mytbl tr{
  background-color: #A9C6E4 ;
}

.mytbl th {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
  background-color: #145DA0 ;
  color: white;
}

.mytbl td, .mytbl th {
  border: 1px solid #ddd;
  padding: 8px;
}

.iconcls{
  float:right;
}

.profbtn{
    width: auto;
    align-items: center;
    font-size: 15px;
    background-color: #357EC7;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-bottom: 1%;

}

.profbtn a {
  text-decoration: none;
  color: #1e050f;
}

.profbtn a:hover{
  color: #040698;
  /* color: #d7e4ef; */

}
/* .mytbl:hover{
  transform: scaleX(1.01);
}
.mytbl > div {
  background-color: #ABC2E3;
  padding: -2px 10px;
  gap: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.item1{
  grid-row: 1 / 1;
  padding-left: 40%;
  padding-top: 10%;
}

.item2{
  grid-row: 1 / 2;
  padding-left: 10%;
  padding-top: 1%;
}

.addcstmrbtn{
  margin-left: 70%;
    width: auto;
    height: 6%;
    align-items: center;
    font-size: 15px;
    background-color: #141279;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    margin-bottom: 1%;
  /* margin-left: 70%;
  align-items: center;
  background-color:  #60A3D9;
  border: 0px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 35px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 15px; */

}


.addcstmrbtn:hover {
  background-color: #141279e1;
    color: #dedede;
}

/* ........................................... */


.popup{
  height: 103%;
  width: 100%;
  visibility: hidden;
  backdrop-filter: blur(35px);
  overflow-y: scroll;
  margin-left: 40%;
  padding-top: 5%;

  /* 
  background: #d2d1d1a1;
x  margin-top: -1600px;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  visibility: hidden;
  transition: transform0.4s, top 0.4s;
  margin-left: 0;
  z-index: 2; */
}

.open_popup{
  visibility: visible;
  margin-top: -2%;
  transform: translate(-50%,-50%) scale(1);
  position: fixed;

}

/* ................. */
.div1{
  margin-top: 45px;
  margin-left: 70px;
  width: 95%;
  height: 100%;
  padding-bottom: 100px;
}

.form1{
  color: #fff;
  position: absolute;
  background-color: #4d6279;
  margin-top: 5%;
  margin-left: 25%;
  float: right;
  width: 50%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 #bbb;
  padding: 1%;
  
  }
.form1 hr{
  margin-left: 10px;
  width: 95%;
/* margin-top: 5%;
margin-left: 30%;
width: 50%;
padding: 25px;
background: rgba(54, 92, 114, 0.7); 
box-shadow: 2px 2px 30px 18px rgb(0 0 0 / 41%); */

}

.form1 label{
  margin-left: 20px;
}

.form1 table{
  width: 100%;
}

.form1 tablefas td{
  width: 10%;
}

.form1 table .second{
  height: 65px;
}
.form1 table .second input{
  width: 90%;
  height: 35px;
  overflow-y: auto;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 3%;
  margin-left: 10%;
  color: #111;
  }

  



/* .input1 {
  padding: 5px;
  margin-bottom: 30px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #eee;
  }
  
  label{
  color: #eee;
  }
   */
   .btns {
    display: flex;
    }
    
    .btns > div{
  margin: 5%;
  font-size: 30px;
    }
  .button1 {
   width: auto;
  height: 35px;
  padding-left: 30%;
  padding-right: 30%;
  border-radius: 10px;
  border: none;
  font-size: medium;
  font-weight: 500;
  color: #fff;
  margin-top: 5%;
  margin-left: 20%;
  transition: all 0.3s ease;

    /* padding: 10px 5px;
  border-radius: 5px; 
  border: none;
  background: #26a9e0; 
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  width: 100%; */
  }
  
  #reg{
    background-color: #08a308;
}
#cancel{
  background-color: #FE0000;
}

